.container
  .panel.panel-success
    .panel-heading
      %h1 Find Tutors
    .panel-body
      = form_tag "/tutors", method: "get" do
        .form-inputs
          .row
            .col-md-4
              = label_tag "Same zip code?"
              = check_box_tag "same_code"
            .col-md-4
              = label_tag "Subject"
              = select_tag "subject", options_for_select( subjects )
            .col-md-4
              = submit_tag "Search"

  - if tutor_list.blank?
    %h2 Sorry, no tutors match query
  - else
    .tutors
      - tutor_list.each do |tutor|
        .tutor
          - if tutor.filepicker_url.present?
            = filestack_image( tutor.filepicker_url)
          - else
            = image_tag "default.jpg", class: "tutor_image"
          %p= "#{tutor.full_name} (6/10)"
          %p= "Subject: #{tutor.subject}"
          %p= "Languages: English, Spanish"
          %p= tutor.email
          = link_to "Leave review", new_review_path(tutor_id: tutor.id), class: "btn btn-warning btn-sm"
          = link_to "Reviews", reviews_path(tutor_id: tutor.id), class: "btn btn-primary btn-sm"
          = link_to "Message", reviews_path(tutor_id: tutor.id), class: "btn btn-success btn-sm"
