= form_for user do |f|
  = f.hidden_field :kind, value: "Parent"

  %br
  .form-inputs
    .row
      .col-md-6
        = f.text_field :first_name, placeholder: "First Name", class: "form-control"
      .col-md-6
        = f.text_field :last_name, placeholder: "Last Name", class: "form-control"

  %br
  .form-inputs
    .row
      .col-md-12
        = f.text_field :email, placeholder: "Email", class: "form-control"
  %br
  .form-inputs
    .row
      .col-md-6
        = f.label :age
        = f.number_field :age, class: "form-control"
      .col-md-6
        = f.label :zip_code
        = f.number_field :zipcode, class: "form-control", placeholder: "11223"

  %br
  = f.trix_editor :bio, class: "form-control", placeholder: "Tell us about yourself."

  %br
  .form-inputs
    .row
      .col-md-6
        = f.password_field :password, class: "form-control", placeholder: "Password"
      .col-md-6
        = f.password_field :password_confirmation, class: "form-control", placeholder: "Passord Confirmation"

  %br
  = f.filestack_field :filepicker_url, 'Upload Your Avatar!'
  %br

  %br
  = f.submit "Sign up", class: "btn btn-success"
