= form_for user, class: "form-control" do |f|
  = f.hidden_field :kind, value: "Tutor"

  %br
  .form-inputs
    .row
      .col-md-6
        = f.text_field :first_name, placeholder: "First Name", class: "form-control"
      .col-md-6
        = f.text_field :last_name, placeholder: "Last Name", class: "form-control"

  %br
  .form-inputs
    .row
      .col-md-6
        = f.text_field :email, placeholder: "Email", class: "form-control"
    .row
      .col-md-6
        = f.label :subject
        = f.select :subject, options_for_select( subjects ), class: "form-control"
  %br
  = f.text_area :bio, class: "form-control", placeholder: "Bio"
  %br

  .form-inputs
    .row
      .col-md-6
        = f.label :age
        = f.number_field :age, class: "form-control"
      .col-md-6
        = f.label :zip_code
        = f.number_field :zipcode, class: "form-control", placeholder: "11223"

  %br
    .col-md-6
      = f.label :qualifications
      = f.select :qualifications, options_for_select(qualifications, {class: "form-control form form-group"}), class: "form-control"

  %br
  .form-inputs
    .row
      .col-md-6
        = f.password_field :password, class: "form-control", placeholder: "Password"
      .col-md-6
        = f.password_field :password_confirmation, class: "form-control", placeholder: "Passord Confirmation"

  %br
  = f.submit "Sign up", class: "btn btn-success"
