#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %h4#myModalLabel.modal-title Please Login
        .col-xs-8
          = form_tag "/sign_in" do
            .form-inputs
              %br
              .row
                .col-md-12
                  = label_tag :email
                  = text_field_tag :email, nil, class: "form-control"

              %br
              .row
                .col-md-12
                  = label_tag :password
                  = password_field_tag :password, nil, class: "form-control"
              %br
              = submit_tag "Sign In", class: "btn btn-success"
