= form_for review do |f|
  = f.hidden_field :tutor_id, value: tutor.id
  = f.hidden_field :parent_id, value: current_user.id

  .form-inputs
    .row
      .col-md-12
        = f.label :body
        = f.trix_editor :body
    %br
    .row
      .col-md-3
        = f.label :rating
        = f.number_field :rating, max: 10, min: 1, class: "form-control"


    %br
    .row
      .col-md-12
        = f.submit "Submit", class: "btn btn-primary"
