.container
  %header.masthead
    %h3.text-muted Tuteering
    %nav.navbar.navbar-expand-md.navbar-light.bg-light.rounded.mb-3
      %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        %ul.navbar-nav.text-md-center.nav-justified.w-100
          %li.nav-item.active
            = link_to "Home", dashboard_path, class: "nav-link"
            %span.sr-only (current)
          %li.nav-item
            = link_to "Find a Tutor", tutors_path, class: "nav-link"
          %li.nav-item
            = link_to "Children Profile", childs_path, class: "nav-link"
          %li.nav-item
            = link_to "Messages", tutors_path, class: "nav-link"
          %li.nav-item
            = link_to "Sign Out", sign_out_path, method: :delete, class: "nav-link"
